body {
 font-family: 'Playfair Display', serif;
}
.alert-container{}

.callout-container{
    height: 100vh;
    background: url("/images/whiskey.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

.quotes-container {
    margin-bottom: 50px;
}

.features-container{}

.favourites-container{}

.jumbo-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron{
    background-color: transparent;
    color: white;
}
.jumbotron small{
    font-size: 80%;
    font-style: italic;
    color: #eadfef;
}

.navbar-toggler {
    border: 0;
}

.btn-hover{}

.btn-hover:hover,
.btn-hover:active,
.btn-hover:focus,
.btn-hover:active:focus {
	background-color: #0de245;
	border-color: #0de245;
	color: white;
}
.navalert-container{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.alert-container {
    padding-right: 0;
    padding-left: 0;
}

.site-wide-alert{
border-radius: 0;
margin-bottom: 0;
padding: 5px 15px;
color: white;
background-color: #ffc107;
border-color: #ffc107;
}

.anchor{
    color: green;
}

.page-header{
    margin-bottom: 50px;
    border-bottom: 0;
    text-align: center;
}
.page-header h2{
    margin-top: 0;
}

.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper{}

.container-wrapper--orange{
    background-color: #ffc107;
}

.feature{
    text-align: center;
}

.thead{
    background-color: #ffc107
}

.feature .btn{
    background-color: white;
    border-color: white;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffc107;
}

.quotes .page-header{
    margin-bottom: 70px;
}